<section class="content">
  <section class="portrait">
    <figure>
      <img src="assets/img/photo-1558961917-2bfe20527f46@2x.jpg" alt="">
      <figcaption>
        <h1>Daniel Colton</h1>
        <h2>
          Graphic
        </h2>
      </figcaption>
    </figure>
  </section>
  <section class="about">
    <h2>About me.</h2>
    <p>Fusce eget augue ullamcorper, congue erat eget, dignissim dui. Phasellus ultrices lacinia mi, sed convallis massa
      varius non. Nam gravida facilisis urna sed finibus.</p>
  </section>
  <section class="subtitle">
    <h2>
      designer<br>
      &photographer.
    </h2>
  </section>
  <section class="works">
    <h3>Works.</h3>
    <ul>
      <li>
        <img src="assets/img/img_1_1@2x.jpg" alt="">
      </li>
      <li>
        <img src="assets/img/img_2_1@2x.jpg" alt="">
        <img src="assets/img/img_2_2@2x.jpg" alt="">
        <img src="assets/img/img_2_3@2x.jpg" alt="">
      </li>
      <li>
        <img src="assets/img/img_3_1@2x.jpg" alt="">
        <img src="assets/img/img_3_2@2x.jpg" alt="">
      </li>
      <li>
        <img src="assets/img/img_4_1@2x.jpg" alt="">
        <img src="assets/img/img_4_2@2x.jpg" alt="">
        <img src="assets/img/img_4_3@2x.jpg" alt="">
        <img src="assets/img/img_4_4@2x.jpg" alt="">
        <img src="assets/img/img_4_5@2x.jpg" alt="">
      </li>
    </ul>
  </section>
</section>
