<aside>
    <nav class="language">
        <ul>
            <li><a class="active">en</a></li>
            <li><a>pl</a></li>
        </ul>
    </nav>
    <nav class="social">
        <ul>
            <li><a><i class="fab fa-instagram"></i></a></li>
            <li><a><i class="fab fa-twitter"></i></a></li>
            <li><a><i class="fab fa-linkedin-in"></i></a></li>
            <li><a><i class="fab fa-behance"></i></a></li>
            <li><a><i class="fab fa-dribbble"></i></a></li>
        </ul>
    </nav>
</aside>